
    <h1><%= title %></h1>
<%- include('partials/header') %>
    <main>
        <p>Welcome to this site!</p>
        <img src="/images/happy-corgi.jpg" alt="Happy Corgi" class="responsive-image">
    </main>
<%- include('partials/footer') %>
